.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-k008qs {
  height: 2.8rem;
}

body {
  font-weight: 800;
}

#workout-form-cnt {
  position: relative;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

#workout-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

#workout-form label {
  font-weight: bold;
}

#workout-form > button {
  margin-top: 25px;
}

#workout-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#workout-form button:hover {
  background-color: #0056b3;
}

/* Style the date input */
input[type="date"] {
  /* Reset default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* Optional: Add box-shadow or other styles */
}

/* Style the date input's dropdown arrow (for browsers that support custom styling) */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* Your custom styles for the arrow */
  color: #007bff; /* Example: change the color of the arrow */
  /* You can also use background-image to add your custom arrow icon */
}

/* Style the date input placeholder text (optional) */
input[type="date"]::placeholder {
  color: #999; /* Example: change the color of the placeholder text */
}

#main-suggested-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.apiExercise-cnt {
  border: 1px solid black;
  border-radius: 8px;
  width: 75%;
  margin-bottom: 22px;
}

.inner-apiExercise-cnt {
  display: flex;
  padding: 20px;
}