body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#workout-cnt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.workout-div {
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 15px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
  max-width: 400px;
}

.workout-div:hover {
  /* background-color: rgb(251, 242, 228); */
  transform: scale(1.05); 
}

.css-130f8nx > a > button {
  font-size: .85rem;
  margin: 0 5px;
}

.css-130f8nx > button {
  font-size: .85rem;
  margin: 0 5px;
}

.css-130f8nx > span {
  font-size: 1rem;
  /* font-family: cursive; */
}

.outer-form-page-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label-input-div {
  display: flex;
  width: 100%;
  justify-content: start;
}

.label-input-div > label {
  width: 25%;
  text-align: right;
  padding-right: 7px;
  font-size: 20px;
}

.label-input-div > input {
  margin-bottom: 30px;
}

.label-input-div > select {
  margin-bottom: 20px;
  width: 50%;
}

#suggest-btn {
  margin: 25px 0 45px 0;
  display: flex;
  justify-content: center;
}

#main-exercise-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercises-div {
  width: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

.controls {
  display: flex;
  flex-direction: column;
}

#login-btn {
  padding: 12px;
  width: 100px;
  font-weight: 600;
}

#signup-btn {
  padding: 12px;
  width: 100px;
  font-weight: 600;
}

.login-signup-btn {
  padding: 10px 20px;
  background-color: black; /* Button color */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.workout-details-controls {
  padding: 10px 20px;
  background-color: black; /* Button color */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.white-button {
  background-color: white;
  color: black;
  border: 1px solid grey;
  margin: 10px 0;
  width: 210px;
}

.login-signup-btn:hover {
  background-color: rgba(7, 7, 7, 0.834); /* Darker color on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

#workout-form-cnt {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

#workout-form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

#workout-form label {
  font-weight: bold;
}

#workout-form > button {
  margin-top: 25px;
}

/* Style the date input */
input[type="date"] {
  /* Reset default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* Optional: Add box-shadow or other styles */
}

/* Style the date input's dropdown arrow (for browsers that support custom styling) */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* Your custom styles for the arrow */
  color: #007bff; /* Example: change the color of the arrow */
  /* You can also use background-image to add your custom arrow icon */
}

/* Style the date input placeholder text (optional) */
input[type="date"]::placeholder {
  color: #999; /* Example: change the color of the placeholder text */
}

#main-suggested-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.apiExercise-cnt {
  border: 1px solid black;
  border-radius: 8px;
  width: 75%;
  margin-bottom: 22px;
  padding: 0px 10px 30px 10px;
}

.inner-apiExercise-cnt {
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
  align-items: center;
}

/* .inner-apiExercise-cnt > h3 {
  text-align: left;
  margin-left: 10px;
} */

.instructions-div {
  padding: 0px 25px;
}

#main-create-workout-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-workout-div {
  width: 390px;
}

#main-home-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-div {
  font-weight: 300;
}

#home-div > h1:nth-child(1) {
  margin: 10px 0;
}

#home-div > h2:nth-child(2) {
  font-weight: 500;
  margin: 0;
  padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-page-cnt {
    width: 80%;
  }
  .label-input-div > input {
    width: 80%;
  }

  .label-input-div > label {
    width: 40%;
    text-align: left;
  }

  .exercises-div {
    width: 70%;
  }
  .workout-div {
    width: 50vw;
  }

  .label-input-div > select {
    width: 100%;
  }

  #home-div {
    width: 80%;
    font-weight: 300;
  }


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .label-input-div > input {
    width: 70%;
  }

  .workout-div {
    width: 40vw;
  }

  .label-input-div > select {
    width: 70%;
  }

  .inner-apiExercise-cnt > h3 {
    width: 51%;
  }

  #home-div {
    width: 80%;
    font-weight: 300;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .label-input-div > input {
    width: 60%;
  }

  .workout-div {
    width: 30vw;
  }

  .label-input-div > select {
    width: 60%;
  }
/* 
  .inner-apiExercise-cnt > h3 {
    width: 27%;
  } */

  #home-div {
    width: 80%;
    font-weight: 300;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-page-cnt {
    width: 50%;
  }
  
  .label-input-div > input {
    width: 60%;
  }

  .workout-div {
    width: 20vw;
  }

  /* .label-input-div > select {
    width: 50%;
  }

  .inner-apiExercise-cnt > h3 {
    width: 19%;
  } */

  #home-div {
    width: 80%;
    font-weight: 300;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  .form-page-cnt {
    width: 30%;
  }

  .workout-div {
    width: 10vw;
  }

  /* .inner-apiExercise-cnt > h3 {
    width: 10%;
  } */

  #home-div {
    width: 50%;
    font-weight: 300;
  }
}
